*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}
.proj
{
    position: relative;
    width: 250px;
    height: 300px;
    margin:20px;
    border-radius: 20px;
    transition: 0.5s;
    transition-delay: 0.5s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.proj:hover{
    width:450px;
    transition-delay: 0s;
}
.proj .circle{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proj .circle::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: var(--clr);
    clip-path: circle(120px at center);
    transition: 0.5s;
}
.proj:hover .circle::before{
    clip-path: circle(400px at center);
}
.proj .circle .logo
{
    position: relative;
    width:200px;
    transition: 0.5s;
    transition-delay:0.5s ;
}
.proj:hover .circle .logo
{
    transform:scale(0) ;
    transition-delay: 0s;
}
.content
{
    position: relative;
    width:50%;
    left:20%;
    padding:20px 20px 20px 40px;
    opacity: 0;
    transition:0.5s;
    visibility:hidden;

}
.proj:hover .content
{
    left:0;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;

}
.content h2
{
    color:black;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height:1em;
}
.content h3
{
    color:black;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height:1em;
}
.content p{
    padding:10px;
    color:white;
}
.content a
{
    position: relative;
    color:black;
    background: white;
    padding:10px 20px;
    border-radius: 10px;
    display:inline-block;
    text-decoration: none;
    font-weight: 500;
}
.proj .product_img
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    height:300px;
    transition: 0.5s;
    transition-delay: 0s;

}
.proj:hover .product_img
{   padding: 10px;
    left:72%;
    transform:translate(-50%,-50%) scale(1);
    transition-delay: 0.5s;
}
.img_logo{
    padding: 40px;
}